.grid-wrapper{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 40% 20% 40%;
    text-align: center;
    margin: 4% 5% 10% 5%;

}


.profile-wrapper{
    grid-row-start:1;
    grid-row-end: 3;
}



#profile-pic{
    border-radius: 50%;
    max-width: 30vw;
    max-height: 30vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.div-1{

    grid-row: 1 /  2;
}

.div-2{
    grid-row: 2 / 3;
    padding: 2% 5% 2% 5%;
    display: grid; /* Standard syntax */
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.div-2 a{
    text-decoration: none;
    color:white;
    display: block;
}

.div-3{
    text-align:justify;
    padding: 10px 20px 10px 20px;
}

.circle-link{
    background-color: black;
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
    border-radius: 50%;
    width: 7rem;
    height: 6rem;
    line-height: 6rem;
}

.circle-link:hover{
    text-decoration: none;
    color: hsl(0, 0%, 66%)  ;
}

