body{
    background-color: hsl(0, 50%, 95%);
    font-family: Monospace;
}

.navbar{
    min-height: 20vh;
    font-size: 20px;
}

.navbar-header{
    padding: 30px 10px 10px 10px;
    text-align: center;
    color: hsl(0, 0%, 25%);
}

#logo{
    font-size: 50px;
}

#logo-subtext{
    font-size: 15px;
}

.more-text{
    border-style: solid;
}
